:root {
  --blue: #006fbf;
  --darkBlue: #004489;
  --gray: #494c4e;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.nav-header {
  display: flex;
  height: 90px;
  align-items: center;
  padding: 0 20px;
}

.nav-header .logoContainer {
  flex: 1;
}

.userProfileContainer {
  display: flex;
  height: 42px;
  align-items: center;
  padding: 10px;
}

.userProfileContainer img {
  height: 40px;
  margin-right: 10px;
}

.nav-footer {
  display: flex;
  background-color: var(--gray);
  height: 60px;
}

.nav-footer .navFooterContainer{
  display: flex;
  margin: 5px 50px;
  align-items: center;
}

.navFooterItem {
  margin: 0 35px;
  font-size: 19px;
}

.navFooterItem a{
  font-size: 100%;
  color: white;
}

.heading {
  font-size: 40px;
  color: var(--gray);
  margin-bottom: 30px;
}

.studentInfoWrapper{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
}

.searchBarContainer {
  display: flex;
  align-items: center;
  height: 42px;
  border: 1px solid var(--gray);
  border-radius: 10px;
  width: 90%;
  margin: auto;
  max-width: 1000px;
}

.searchBarContainer input {
  height: 100%;
  border: none;
  background-color: inherit;
  flex: 1;
  padding: 5px 20px;
  color: var(--gray);
}

.searchBarContainer input:focus {
  outline: none;
}

.searchBarContainer .iconContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.searchBarContainer i {
  font-size: 20px;
  color: var(--gray);
}