extends layouts/main-layout.pug

block content 
    form.studentInfoWrapper(action="/student/appointment" method="POST")
        h1.heading  New Appointment 
        
        if success == true
            span.successMessage #{message}
        else 
            span.errorMessage #{message}

        .studentRegContainer
            .studentInfoContainer 
                .rowContainer
                    span.label SAIT Student ID:
                    input.form-control(type="text" name="saitId" readonly, required)
                .rowContainer
                    span.label First Name:
                    input.form-control(type="text" name="firstName" readonly, required)
                .rowContainer
                    span.label Last Name:
                    input.form-control(type="text" name="lastName" readonly, required)
                .rowContainer
                    span.label Contact Phone:
                    input.form-control(type="text" name="studentPhone" readonly)
                .rowContainer
                    span.label Contact Email:
                    input.form-control(type="email" name="studentEmail" readonly)
                .rowContainer
                    span.label Personal Email:
                    input.form-control(type="email" name="personalEmail" readonly)
                .rowContainer
                    span.label Academic Status:
                    input.form-control(type="text" name="academicStatus" readonly)
                .rowContainer
                    span.label Appointment Type:
                    //input.form-control(type="text" name="academicStatus" readonly)
                    select#type.form-control
                        option(value='Academic') Academic
                        option(value='Personal') Personal
                        option(value='Financial') Financial
            .commentsContainer 
                span.label Available Times:
                textarea.form-control(name="availability" cols="40" rows="12")
        .buttonsContainer.buttonsAlign-right
            input(type="submit" value="Register")
            input(type="reset" value="Reset")

block scripts
    script(src="/js/studentInfo.js") 
    