<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/main.css" />
    <title>LLSC SSMS Login Page</title>
</head>
<body>
    <div id="main" class="container">
        <br />
        <br />
        <h1 color="white">Lamb Learner Success Center</h1>
        <h2>Student Services Management System</h2>
        <br />
        <form action='Submit' method="GET">
            <input
                type="text"
                placeholder="Enter Username"
                class="form-control"
                id="username"
                name="username"
            />
            <br />
            <input
                type="password"
                placeholder="Enter Password"
                class="form-control"
                id="password"
                name="password"
            />
        </form>

        <form action='/register' method="POST">
            <input type="submit" value="testbutton for DB">
        </form>
    </div>
</body>
</html>