extends layouts/login-layout.pug

block content 
  .loginContainer 
    h1 Lamb Learner Success Center
    h3 Student Services Management System
    p.errorMessage #{errorMessage}
    p.successMessage #{successMessage}

    form(method='POST', action="/login")
      input#logId.form-control(type='text' placeholder='Enter SAIT ID' name='logId')
      input#logPassword.form-control(type='password' placeholder='Enter Password' name='logPassword')
      input(type='submit' value='Login')
    a(href='/register') Need an account? Register here.
