<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <title>LLSC SSMS Login Page</title>
</head>
<body>
    <div id="main" class="container">
        <br />
        <br />
        <h1>Lamb Learner Success Center</h1>
        <h2>Student Services Management System</h2>
        <!-- <p>${payload.errorMessage}</p> -->
        <br />
        <form method="POST">
            <input
                type="text"
                placeholder="Enter SAIT ID"
                class="form-control"
                id="logId"
                name="logId"
            />
            <br />
            <input
                type="password"
                placeholder="Enter Password"
                class="form-control"
                id="logPassword"
                name="logPassword"
            />
            <br/>
            <input
                type="submit"
                value="Login"
            />
        </form>
        
        <a href="/register">Need an account? Register here.</a>
        <!-- <form action='/register' method="POST">
            <input type="submit" value="testbutton for DB">
        </form> -->
    </div>
</body>
</html>