extends layouts/main-layout.pug

block content 
  .mainmenuContainer
    .row
      a.card.mb-3.menuCard(href="/student")
        .card-body
          i.material-icons assignment_ind
          h5.card-title Student Information
          p.card-text Manage overall Student
        .card-footer.bg-transparent 
          span.card-footer-name Go to Student Info
          i.material-icons keyboard_arrow_right

      a.card.mb-3.menuCard(href="/appointment")
        .card-body
          i.material-icons event
          h5.card-title Appointment
          p.card-text Manage overall appointment
        .card-footer.bg-transparent 
          span.card-footer-name Go to Appointment
          i.material-icons keyboard_arrow_right

    .row
      a.card.mb-3.menuCard(href="/workshop")
        .card-body
          i.material-icons date_range
          h5.card-title Workshop
          p.card-text Manage overall Workshop
        .card-footer.bg-transparent 
          span.card-footer-name Go to Workshop
          i.material-icons keyboard_arrow_right 
      
      if (userLoggedIn != undefined && userLoggedIn.admin == true)
        a.card.mb-3.menuCard(href="/admin")
          .card-body
            i.material-icons admin_panel_settings
            h5.card-title Admin
            p.card-text Manage admin request
          .card-footer.bg-transparent
            span.card-footer-name Go to Admin
            i.material-icons keyboard_arrow_right

      a.card.mb-3.menuCard(href="/logout")
        .card-body
          i.material-icons logout
          h5.card-title Logout
          p.card-text Disconnect my account
        .card-footer.bg-transparent 
          span.card-footer-name Logout
          i.material-icons keyboard_arrow_right 

      

