<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>LLSC SSMS Main Page</title>
</head>
<body>
    <div class="center">
        <img src="https://learn.sait.ca/d2l/lp/navbars/6605/theme/viewimage/3208789/view?v=20.21.1.27113-201" height="80px" width="240px" alt="SAIT LOGO"> 
        <i style="font-size: 25px;color: white" class="material-icons">USERNAME</i>
        <i style="font-size: 50px;color: white" class="material-icons">circle</i>
        <i style="font-size: 50px;color: white;transform: rotate(90deg);" class="material-icons">remove</i>
        <i style="font-size: 50px;color: white" class="material-icons">notifications</i>    
        <i style="font-size: 50px;color: white" class="material-icons">message</i>
        <i style="font-size: 50px;color: white" class="material-icons">mail</i>
</div>  
    
    
    
<ul>
    <li><a href="#home">INSTRUCTOR HOME</a></li>
    <li><a href="#info">MANAGE INFO</a></li>
    <li><a href="#appointments">MANAGE APPOINTMENTS</a></li>
</ul>
</body>
</html>