doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/main.css')
    title LLSC SSMS Main Page
  body
    h1 #{pageTitle}
    ul
      li
        a(href='#home') INSTRUCTOR HOME
      li
        a(href='#info') MANAGE INFO
      li
        a(href='#appointments') MANAGE APPOINTMENTS
