extends layouts/main-layout.pug

block content 
  .studentInfoWrapper 
    h1.heading  Student Information
        
    .searchBarContainer
        input#searchBox(type="text", name="searchBox", placeholder="Search by SAIT ID or Name")
        .iconContainer
            i.fas.fa-search
      
    .resultsContainer 

block scripts
    script(src="/js/studentInfo.js") 
