extends layouts/main-layout.pug

block content 
  .studentInfoWrapper 
    h1.heading  #{pageTitle}

    .buttonsContainer
        a(href="/student/register") 
            button Add New Student
        
    .searchBarContainer
        input#searchBox(type="text", name="searchBox", placeholder="Search by SAIT ID or Name then press Enter")
        .iconContainer
            i.fas.fa-search
      
    .resultsContainer 

block scripts
    script(src="/js/studentInfo.js") 
